language: python
# language: android 
# android:
#   components:
#     # Uncomment the lines below if you want to
#     # use the latest revision of Android SDK Tools
#     # - tools
#     - platform-tools

#     # The BuildTools version used by your project
#     - build-tools-26.0.2

#     # The SDK version used to compile your project
#     - android-26
#     - android-21

#     # Specify at least one system image,
#     # if you need to run emulator(s) during your tests
#     - sys-img-x86-android-26
#     - sys-img-armeabi-v7a-android-21
python:
- '3.5'
- '3.6'
- '3.7'
install:
- pip install -r requirements.txt
# before_script:
#   - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
#   - emulator -avd test -no-audio -no-window &
#   - android-wait-for-emulator
#   - adb shell input keyevent 82 &
# script:
#   - adb version
#   - adb devices
#   - python -m pip install -e .
#   - python -m uiautomator2 init --verbose
#   - python -m uiautomator2 install https://github.com/appium/java-client/raw/master/src/test/java/io/appium/java_client/ApiDemos-debug.apk
#   - python tests/test_simple.py
script:
  - echo "Skip test"
notifications:
  webhooks:
    urls:
      - https://oapi.dingtalk.com/robot/send?access_token=5e8d4207463024dd88089f37f0ee37ceb75bd30f3c2aee270f680298861021c0
    # Conditions doc: https://docs.travis-ci.com/user/conditions-v1
    #if: tag IS present
deploy:
  skip_cleanup: true
  skip_existing: true
  provider: pypi
  user: codeskyblue
  password:
    secure: GlIZ4GKSU6CUHKFfcn2JqvJmEcdt5fQBf56zVG9+7ZeIeeWacfeWzXHICyxY84eiJtRhvpZWvkpzcV8vyJviMclih80iM251+2gmrEuojU5NefD2VeeC5m1RgL4TEq+G2vMskOYr6nTAG+r+sDt/piSi630KZpcfpM+oe455M/K/ygmbIyXHwxaE3N0cmVop/RCkIFs2kZuWqeZYOfULqPhMvzB8IYX1DY/TH/lCeumAFdS9PJ4wkxz0N1WMijB50FhvOA0rV8nADePRy4z86573UXpc+pVUBucKGigKbF4RJsW/3C096N9xdgvbsuKA1WIzBcWQPmwyIosPEwrPzBNt7BGIJFZ+YGjDd6nxz7KpQi8ZYX7h413DeJb6qpQmCNyB1TrcO7sa8K/0KzWLZWK7djqGdAaFgefYEub1knBmMBmeNfsdhOXLgGxdf/pXDMktiIJ494Ne6P/9GpC2kW5lJOtwVQWacITWLpRxhOF1m3xoHOp4euqK84GXjKnZL5PPOxPKDgCFL+LH9oUBv4kIywOxC4+OybZ4WvWBcyQ967w/9/JuUB5dsFcYbcQvR+nm2hyG9WY0Vz3ikRyt/OK8Z1DXN70uXlqjMJh1boW/GQvXemByYeF+HVihwmFyXp9S6Ucz6W6A8y4MbnnaPtwtFpy+IOdD+0FTivIjFwc=
  on:
    distributions: sdist bdist_wheel
    repo: openatx/uiautomator2
    all_branches: true
